/* ****REGOLE GENERALI***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
ul,ol,li,menu{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
/* HEADER */
.container-ricerca{
    
    flex-grow: 1;

}
.nav-bottoni-gutter{
    gap: 20px;
    

}
.nav-color{
    background-color: white;
    
}
.back-ground-color-pad-nav{
 background-color: #f8f9fa;
 padding-top: 10px;
 padding-bottom: 10px;
}
.bg-body-tertiary{
    background-color: white!important;
}
.navbar{
    --bs-navbar-padding-y: 0rem;
}
.border-button{
    border:none;
    background-color: white;
}
.input-group-text{
    border: none;
    background-color: #e5e5e5;
}
.form-control{
    background-color: #e5e5e5;
    border: var(--bs-border-width) solid none;
}
.media-version{
    display: none;
}
.img-mobile{
    display: block;
}
.img-desk{
    display: none;

}

/* SIDE BAR */
.container-side-bar-app{
    flex-basis: 151px;
    background-image:url("./img/sidebar-bg.png");
    flex-shrink: 0;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #051e34;
    height: calc(100vh - 56px);
    gap: 25px;
}
.margin-top-button{
    margin-top: auto;
    margin-bottom: 35px;
    gap: 16px;
}
.container-bootstrap{
    display: flex;
}
.topside{
 padding-top: 34px;
}
.gap-icon{
    gap: 16px;
    font-size: 14px;

}
.logosize{
    font-size: 18px;
}
.pad-center-logo{
    padding-right: 4px;
}
/* MAIN-CONTENT */
.main-content{
    flex-basis: calc(100% - 151px);
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
    

}

.section-dashboard{
    height: 100vh;
}

.text-color-white{
    color: white;
}
/* MEDIA QUERY */
@media (min-width: 576px) { 

  }


@media (min-width: 768px) {
    .media-version{
        display: block;
    }
    .img-mobile{
        display: none;
    }
    .img-desk{
        display: block;
    }
 }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }

@media (min-width: 1400px) { ... }