/* ****REGOLE GENERALI***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
ul,ol,li,menu{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
/* HEADER */
.container-ricerca{
    
    flex-grow: 1;

}
.nav-bottoni-gutter{
    gap: 20px;
    

}
.nav-color{
    background-color: white;
    
}
.back-ground-color-pad-nav{
 background-color: #f8f9fa;
 padding-top: 10px;
 padding-bottom: 10px;
}
.bg-body-tertiary{
    background-color: white!important;
}
.navbar{
    --bs-navbar-padding-y: 0rem;
}
.border-button{
    border:none;
    background-color: white;
}
.input-group-text{
    border: none;
    background-color: #e5e5e5;
}
.form-control{
    background-color: #e5e5e5;
    border: var(--bs-border-width) solid #e5e5e5;
}
.media-version{
    display: none;
}
.img-mobile{
    display: block;
}
.img-desk{
    display: none;

}
.drop-bell{
    color: #ff8f00;

}
.question{
    border-radius: 51%;
    background-color: #535558;
    color: white;
    border: 1px solid #535558;
    font-size: 12px;
    padding: 4px 6px;
}
/* SIDE BAR */
.container-side-bar-app{
    flex-basis: 151px;
    background-image:url("./img/sidebar-bg.png");
    flex-shrink: 0;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #051e34;
    height: calc(100vh - 56px);
    gap: 25px;
}
.margin-top-button{
    margin-top: auto;
    margin-bottom: 35px;
    gap: 16px;
}
.container-bootstrap{
    display: flex;
}
.topside{
 padding-top: 34px;
}
.gap-icon{
    gap: 16px;
    font-size: 14px;

}
.logosize{
    font-size: 18px;
}
.pad-center-logo{
    padding-right: 4px;
}
.container-side-bar-app{
    flex-basis: 68px; 
}
.main-content{
    flex-basis: calc(100% - 68px);
}
.none-disp{
    display: none;

}
/* MAIN-CONTENT */
.main-content{
    flex-basis: calc(100% - 151px);
    flex-grow: 1;
    overflow-y: auto; 
    background-color: #f8f9fa;
    height: 100vh;
}
.section-dashboard{
    height: 100vh;
}

.text-color-white{
    color: white;
}
.section-main-blu{
  background-color: #1b72e8; 
}
.text-bg-primary{
    background-color: #165bba!important;
}
.badge{
    --bs-badge-font-size: 0.65em;
}
.gap-badge{
    gap: 5px;
}
.fa-angles-right:before {
    font-size: 12px;
}
.pad-section-blu{
    padding-top: 27px;
    padding-bottom: 27px;
}
.h2-boolean{
    font-size: 1.3rem;
}
.font-number{
    font-size: 23px;
}
.low-pad{
    padding-left: calc(var(--bs-gutter-x) * .1);
}
.text-bg-primary{
    font-size: 10px;
    margin-bottom: -6px;
    font-weight: 400;
}
.botton-margin{
    margin-bottom:0.5rem; 

}
.font-p-banner-blu{
    font-size: 14px;
}
.budge-none{
    display: none;
}
.order-element-bunner-blu{
    order: -1;
}
.gutter-badge{
    gap:10px
}
.border-plus{
    border: 1px solid white;
    border-radius: 4px;
}
.pad-border-plus{
    padding-left: 5px;
    padding-right: 5px;
}
.offcanvas{
    --bs-offcanvas-width: 100%;
}
.offcanvas .form-control{
    background-color: white;

}
.offpadconvas{
    padding-top: 20px;
}
.pad-section-blu {
    gap: 20px;
}
.plus-budge-none{
    display: block;
    font-size: 12px;
}
/* FORM CARD MAIN */
.pad-topcard{
    padding-top: 24px;
}
.back-ground-card-graphic{
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}
.card-link{
    color:#1b72e8;
    text-decoration: underline;
}
.gap-iconcard{
    gap: 10px;
}
.border-action{
    border:1px solid grey;
    border-radius: 4px;
    background-color: white;
    color: grey;
}
.pad-action-cube{
    padding: 4px 4px 4px 4px;
}
.circle-back-ground{
    padding: 5px 3px 3px 3px;
    background-color: #f26551;
    color: white;
    border-radius: 50%;
    border: 1px solid #f26551;
}

/* MEDIA QUERY */
@media (min-width: 576px) {   
  }
@media (min-width: 768px) {
    .media-version{
        display: block;
    }
    .img-mobile{
        display: none;
    }
    .img-desk{
        display: block;
    }
    .none-disp{
        display: block;

    }
    .container-side-bar-app{
        flex-basis: 151px;
    }
    .main-content{
        flex-basis: calc(100% - 151px);
        
    }
    .offcanvas{
        --bs-offcanvas-width: 55%;
    }
    .order-element-bunner-blu{
        order: 1;
    }
    .pad-section-blu {
        gap: 0px;
    }
 }

@media (min-width: 992px) { 
    .budge-none{
        display: block;
    }
    .plus-budge-none{
        display: none;
    }

 }

@media (min-width: 1200px) { ... }

@media (min-width: 1400px) { ... }